{% extends './base.html.twig' %}

{% block body %}
	<div class="hero">
		<img src="{{ asset('css/images/logo.svg') }}" alt="Logo" width="700" height="auto">
		<h3>Créez vos Events afin de faciliter la mise en relation entre apprenants au sein de votre campus
		</h3>
		<a class="btn-add-post" href="{{ path('app_admin_post_new') }}">Ajouter un post</a>
	</div>

	{% for post in posts %}
		<div class="card-container">
			<div class="grid--cell">
				<article class="grid--item">

					<div class="preview--container">
						<a href="#" class="preview-image--container">
							<div class="preview-image">{{ post.picture }}</div>
						</a>
					</div>

					<div class="content--container">
						<div class="title--container">
							<a class="title--text" href="#">{{ post.title }}</a>
						</div>
						<p>{{ post.content }}</p>

					</div>

				</article>
			</div>
		</div>
	{% else %}
		<li>Aucun post disponible pour le moment.</li>
	{% endfor %}

{% endblock %}
{% block javascripts %}
	 <script src="{{ asset('JS/posts.html') }}"></script>
{% endblock %}
