{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('CSS/register.css') }}">
{% endblock %}

{% block body %}
    <div class="registration">
        {% for flash_error in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
        {% endfor %}

        <h1>Registration</h1>

        {{ form_errors(registrationForm) }}

        {{ form_start(registrationForm) }}
            <div class="email">
                {{ form_label(registrationForm.email) }}
                {{ form_widget(registrationForm.email, {'attr': {'class':'size'}}) }}

            </div>

            <div class="password">
                {{ form_label(registrationForm.plainPassword, "Password") }}
                {{ form_widget(registrationForm.plainPassword, {'attr': {'class':'size'}})}}
            </div>

            <div class="agree">
                {{ form_label(registrationForm.agreeTerms) }}
                {{ form_widget(registrationForm.agreeTerms, {'attr': {'class':'boxe'}}) }}
            </div>

            <button type="submit" class="btn">Register</button>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
